In [57]:
import pandas as pd
from Levenshtein import distance

laces_file = 'data/Laces Students.csv'
ged_file = 'data/GED test takers.csv'

In [44]:
l = pd.read_csv(laces_file, parse_dates=['Birthdate'])
if 'SSN' in l.columns.tolist():
    print(f"Dropping PII")
    l = l.drop(columns=['SSN'])
    l.to_csv(laces_file, header=True, index=False)

In [162]:
l['DDB'] = l['Birthdate'].dt.strftime('%Y-%m-%d')
l[['DDB', 'Birthdate']]

              DDB  Birthdate
0      1956-08-03 1956-08-03
1      1969-12-13 1969-12-13
2      1995-07-11 1995-07-11
3      1983-12-11 1983-12-11
4      1990-06-20 1990-06-20
...           ...        ...
13023  1992-01-30 1992-01-30
13024  1989-03-05 1989-03-05
13025  1966-12-12 1966-12-12
13026  1981-09-03 1981-09-03
13027  1992-01-12 1992-01-12

[13028 rows x 2 columns]

In [45]:
l, g = pd.read_csv(laces_file, parse_dates=['Birthdate']), pd.read_csv(ged_file, parse_dates=['Date of Birth'])
l = l.drop_duplicates()
g = g.drop_duplicates()

In [59]:
for c in ['Last Name', 'First Name']:
    g.loc[:, c] = g[c].apply(lambda n: n.lower())
    l.loc[:, c] = l[c].apply(lambda n: n.lower())

In [64]:
g.loc[:, 'Key'] = g[['Last Name', 'First Name', 'DOB']].agg(tuple, axis=1)
l.loc[:, 'Key'] = l[['Last Name', 'First Name', 'DOB']].agg(tuple, axis=1)

In [65]:
g['Key']

0      (johnson, katelyn, 1996-04-03)
1        (ortiz, britney, 1993-03-21)
2      (huggins, patrick, 2003-05-30)
3        (eddings, lamar, 1974-01-29)
4        (strunk, joshua, 1983-09-20)
                    ...
925     (stevenson, dior, 1994-09-03)
926     (stevenson, dior, 1994-09-03)
927     (stevenson, dior, 1994-09-03)
928        (meade, peter, 1993-07-26)
929        (meade, peter, 1993-07-26)
Name: Key, Length: 928, dtype: object

In [66]:
l['Key']

0                   (aaron, bertha, 1956-08-03)
1              (aaron, teralawanda, 1969-12-13)
2                 (aarons, brianna, 1995-07-11)
3                   (aarons, jimmy, 1983-12-11)
4                 (abbey, shanetta, 1990-06-20)
                          ...
13023           (zorrilla, natalie, 1992-01-30)
13024               (zuber, tamiko, 1989-03-05)
13025    (zuber-jackson, stephanie, 1966-12-12)
13026              (zunic, william, 1981-09-03)
13027           (zwolenik, raymond, 1992-01-12)
Name: Key, Length: 13028, dtype: object

In [ ]:
laces_keys = l[['Last Name', 'First Name', 'DOB']].agg(tuple, axis=1)
# laces_keys

In [180]:
geds_keys = g[['Last Name', 'First Name', 'DOB']].agg(tuple, axis=1).tolist()
geds_keys

[('johnson', 'katelyn', '1996-04-03'),
 ('ortiz', 'britney', '1993-03-21'),
 ('huggins', 'patrick', '2003-05-30'),
 ('eddings', 'lamar', '1974-01-29'),
 ('strunk', 'joshua', '1983-09-20'),
 ('daniels', 'paula', '1999-05-14'),
 ('root', 'sarah', '1990-08-27'),
 ('morris', 'krystalyn', '1990-04-01'),
 ('kyer', 'brandy', '1991-04-11'),
 ('garrett', 'jessica', '1989-07-24'),
 ('jones', 'luther', '1994-02-25'),
 ('stephens', 'james', '2000-05-18'),
 ('mclaughlin', 'chiffon', '1982-08-26'),
 ('johnson', 'jessica', '1992-06-02'),
 ('robinson', 'tahja', '2000-01-13'),
 ('armstrong', 'jessica', '1979-05-15'),
 ('webber', 'kyle', '1996-07-08'),
 ('brittany', 'thompson', '1986-10-14'),
 ('johnson', 'gabrielle', '1991-02-05'),
 ('cofield', 'emanuel', '1976-06-07'),
 ('davis', 'makala', '1996-01-16'),
 ('bryant', 'luci', '1993-02-16'),
 ('binegar', 'sidney', '1996-12-16'),
 ('eddings', 'lamar', '1974-01-29'),
 ('greggs', 'korissa', '1998-09-28'),
 ('greggs', 'korissa', '1998-09-28'),
 ('greggs', 'korissa', '1998-09-28'),
 ('foster', 'aaron', '1990-03-30'),
 ('lucas, sr.', 'dorian', '1990-11-04'),
 ('walker', 'sadie', '1971-06-06'),
 ('cordle', 'alayah', '1998-04-29'),
 ('head', 'teadvin', '1990-11-30'),
 ('greene', 'zackary', '1997-03-31'),
 ('hall', 'angel', '1994-12-06'),
 ('harrison', 'william', '1999-01-15'),
 ('langford', 'courtney', '2002-06-11'),
 ('williams', 'mikala', '2001-10-01'),
 ('rogers', 'cecile', '1970-05-22'),
 ('shumate', 'rachel', '1987-06-10'),
 ('smith', 'miranda', '1991-04-26'),
 ('toran', 'justin', '2004-09-17'),
 ('ryan', 'summer', '1994-01-10'),
 ('locke', 'angela', '1990-06-28'),
 ('sarver', 'alexander', '2003-07-01'),
 ('greulich', 'danielle', '1985-08-04'),
 ('meihls', 'stephen', '1984-04-12'),
 ('vonstein', 'jordan', '1997-06-22'),
 ('stacey', 'autumn', '1977-06-25'),
 ('dins', 'crystal', '1985-01-23'),
 ('awbrey', 'madison', '2002-07-29'),
 ('baker', 'nicole', '1996-02-02'),
 ('cochran', 'syrus', '2001-10-16'),
 ('worthy', 'aaron', '2000-10-26'),
 ('francisco', 'danny', '1986-07-14'),
 ('farris', 'steven', '2000-04-30'),
 ('king', 'requel', '1972-01-13'),
 ('lopez', 'maria', '1990-12-29'),
 ('mojica', 'marco', '1994-08-16'),
 ('howard', 'james', '1980-03-04'),
 ('tona', 'jerry', '1963-08-17'),
 ('baker', 'candice', '1976-12-18'),
 ('scales', 'brian', '1993-08-16'),
 ('montes de oca perez', 'elizabeth', '1997-02-03'),
 ('raines', 'christian', '2001-04-01'),
 ('daniels', 'paula', '1999-05-14'),
 ('johnson', 'jessica', '1992-06-02'),
 ('johnson', 'jessica', '1992-06-02'),
 ('cordle', 'alayah', '1998-04-29'),
 ('cordle', 'alayah', '1998-04-29'),
 ('johnson', 'marisa', '2000-05-19'),
 ('johnson', 'marisa', '2000-05-19'),
 ('bruner', 'anthony', '1999-11-10'),
 ('mounts', 'tiffany', '1989-09-14'),
 ('mounts', 'tiffany', '1989-09-14'),
 ('medley', 'eboni', '1989-09-03'),
 ('medley', 'eboni', '1989-09-03'),
 ('huggins', 'patrick', '2003-05-30'),
 ('yoder', 'kari', '1998-07-16'),
 ('rassavong', 'anong', '2002-08-05'),
 ('miller', 'elizabeth', '1981-10-22'),
 ('harton', 'daneshia', '1989-10-26'),
 ('sinclair', 'gerri', '1981-01-22'),
 ('toran', 'justin', '2004-09-17'),
 ('moreland', 'kenneth', '1990-10-08'),
 ('barr', 'caleb', '2003-06-08'),
 ('dubon', 'vanessa', '1994-10-04'),
 ('morris', 'krystalyn', '1990-04-01'),
 ('ryan', 'summer', '1994-01-10'),
 ('wimzie', 'megan', '1983-11-07'),
 ('wimzie', 'megan', '1983-11-07'),
 ('ruffin', 'samuel', '2003-06-12'),
 ('ruffin', 'samuel', '2003-06-12'),
 ('boyd', 'denise', '1955-12-17'),
 ('gatewood', 'lakeetha', '1994-11-07'),
 ('gatewood', 'lakeetha', '1994-11-07'),
 ('kendall', 'jordan', '1993-04-25'),
 ('centers', 'charlie', '1976-12-02'),
 ('mikell', 'daquan', '1995-08-16'),
 ('bauer', 'trevor', '2002-09-07'),
 ('black', 'donna', '1975-01-16'),
 ('lane', 'jordan', '1999-03-07'),
 ('pettit', 'arethesa', '1970-10-01'),
 ('hill', 'christopher', '1965-11-15'),
 ('hill', 'christopher', '1965-11-15'),
 ('smith', 'christina', '2001-07-18'),
 ('hershey', 'brianna', '1999-03-17'),
 ('watson jr', 'treymane', '1989-01-24'),
 ('blevins', 'arron', '1991-12-15'),
 ('brown', 'antonio', '1987-01-23'),
 ('womack', 'emanuel', '1991-05-21'),
 ('latimer', 'jermal', '1988-10-31'),
 ('chandler', 'ronnelle', '1999-04-20'),
 ('wells', 'avil', '1994-06-23'),
 ('snyder', 'spencer', '1992-05-17'),
 ('stiltner', 'cody', '1996-01-19'),
 ('mcdonald', 'gregrisha', '1988-05-19'),
 ('stacey', 'autumn', '1977-06-25'),
 ('stacey', 'autumn', '1977-06-25'),
 ('dins', 'crystal', '1985-01-23'),
 ('dins', 'crystal', '1985-01-23'),
 ('awbrey', 'madison', '2002-07-29'),
 ('baker', 'nicole', '1996-02-02'),
 ('kyer', 'brandy', '1991-04-11'),
 ('kyer', 'brandy', '1991-04-11'),
 ('emery', 'emily', '2003-05-29'),
 ('cochran', 'syrus', '2001-10-16'),
 ('cochran', 'syrus', '2001-10-16'),
 ('cochran', 'syrus', '2001-10-16'),
 ('vickery', 'melissa', '1979-05-20'),
 ('snyder', 'christina', '1989-10-26'),
 ('reeves', 'john', '1980-12-22'),
 ('stanard', 'cassandra', '1986-02-09'),
 ('mojica', 'marco', '1994-08-16'),
 ('daroche', 'william', '1952-08-03'),
 ('harrington', 'spencer', '1994-03-04'),
 ('howard', 'james', '1980-03-04'),
 ('gwynne', 'jordan', '2000-08-18'),
 ('maalouf', 'sandra', '1980-06-22'),
 ('al janabi', 'alyaa', '1985-07-08'),
 ('ledesma aguilar', 'maria', '1982-10-10'),
 ('medkour', 'farid', '1990-01-29'),
 ('magar', 'parbati', '1993-02-11'),
 ('kroah', 'april', '1975-07-29'),
 ('gibson', 'jordan', '2003-08-22'),
 ('corder', 'erika', '1990-08-19'),
 ('corder', 'erika', '1990-08-19'),
 ('dunaway', 'carol', '1975-07-24'),
 ('yoli', 'courtney', '1982-05-18'),
 ('yoli', 'courtney', '1982-05-18'),
 ('lutz', 'jaden', '1999-10-04'),
 ('lutz', 'jaden', '1999-10-04'),
 ('lutz', 'jaden', '1999-10-04'),
 ('lutz', 'jaden', '1999-10-04'),
 ('westmoreland', 'chianne', '1996-10-03'),
 ('smith', 'ryan', '2003-08-22'),
 ('diallo', 'hawa', '2001-10-22'),
 ('givens', 'natalia', '2004-01-01'),
 ('glenn', 'cassandra', '1990-03-06'),
 ('glenn', 'cassandra', '1990-03-06'),
 ('glenn', 'cassandra', '1990-03-06'),
 ('glenn', 'cassandra', '1990-03-06'),
 ('cote', 'koen', '2003-05-07'),
 ('millington', 'hannah', '2003-09-11'),
 ('ouhammou', 'hajar', '1985-02-20'),
 ('titus', 'ryan', '2002-03-12'),
 ('cameron', 'alicia', '1979-10-27'),
 ('cameron', 'alicia', '1979-10-27'),
 ('bedie mercedes', 'yaritza', '1988-05-11'),
 ('stutler', 'sheena', '1989-01-02'),
 ('jimenez', 'keila', '2002-11-04'),
 ('west', 'yvonne', '1972-01-11'),
 ('reed', 'josie', '1989-03-19'),
 ('ross', 'keantrae', '2001-04-03'),
 ('rushton', 'anthony', '1994-03-19'),
 ('lewis', 'jacob', '1991-09-16'),
 ('yates', 'joseph', '2001-07-23'),
 ('lorah', 'danielle', '1987-09-23'),
 ('mcclure', 'jessica', '1993-05-22'),
 ('merino-olivar', 'christopher', '2000-12-16'),
 ('carter', 'johnathon', '1999-08-26'),
 ('nyamekye', 'emmanuel', '2001-07-01'),
 ('wideman', 'maranda', '1985-08-31'),
 ('farley jr.', 'jimmy', '2002-07-17'),
 ('shomo', 'amina', '1986-06-04'),
 ('portillo', 'bryant', '1992-01-23'),
 ('green', 'elijah', '2003-09-20'),
 ('hillis', 'skya', '1998-04-14'),
 ('hillis', 'skya', '1998-04-14'),
 ('tittle', 'david', '1988-06-20'),
 ('vinson', 'michael', '1992-07-15'),
 ('gonczy', 'aidan-allister', '2005-02-01'),
 ('agustin', 'shermain', '1994-06-20'),
 ('hershey', 'brianna', '1999-03-17'),
 ('houck', 'joshua', '1989-11-05'),
 ('watson jr', 'treymane', '1989-01-24'),
 ('blevins', 'arron', '1991-12-15'),
 ('winston', 'levone', '1990-04-29'),
 ('brown', 'antonio', '1987-01-23'),
 ('latimer', 'jermal', '1988-10-31'),
 ('latimer', 'jermal', '1988-10-31'),
 ('riddle', 'steven', '1991-03-14'),
 ('riddle', 'steven', '1991-03-14'),
 ('summerlin', 'greg', '1991-04-20'),
 ('pennington', 'william', '1992-12-18'),
 ('chandler', 'ronnelle', '1999-04-20'),
 ('george', 'robert', '1994-04-18'),
 ('smith jr.', 'curtis', '1985-12-11'),
 ('palmer', 'antowine', '1992-12-28'),
 ('wells', 'avil', '1994-06-23'),
 ('simmons', 'anthony', '1992-03-20'),
 ('franklin', 'jordan', '1995-04-29'),
 ('garrett', 'randi', '1991-06-20'),
 ('tibbs', 'kylie', '2004-08-12'),
 ('burkholder', 'jordan', '2004-05-13'),
 ('berberick', 'derrick', '1994-06-21'),
 ('king', 'tyvon', '1988-02-16'),
 ('king', 'tyvon', '1988-02-16'),
 ('scarberry', 'joshua', '1981-12-14'),
 ('scarberry', 'joshua', '1981-12-14'),
 ('sanner', 'telisa', '1986-06-28'),
 ('rettos', 'marco', '1998-03-03'),
 ('stegh', 'taylor', '1995-04-01'),
 ('stegh', 'taylor', '1995-04-01'),
 ('lawrence', 'kenneth', '1982-05-13'),
 ('lawrence', 'kenneth', '1982-05-13'),
 ('walker', 'james', '1983-03-19'),
 ('walker', 'james', '1983-03-19'),
 ('robinson', 'cody', '1990-11-05'),
 ('robinson', 'cody', '1990-11-05'),
 ('clever', 'justin', '1986-03-06'),
 ('clever', 'justin', '1986-03-06'),
 ('baldwin', 'clotella', '2000-03-19'),
 ('reyes', 'antonio', '2001-09-16'),
 ('reyes', 'antonio', '2001-09-16'),
 ('forshey', 'jessica', '1978-10-18'),
 ('lawrence', 'alec', '2002-10-24'),
 ('jackson', 'aliyia', '1971-08-20'),
 ('hicks', 'denver', '1999-06-20'),
 ('norman', 'jasmine', '2003-05-12'),
 ('norman', 'jasmine', '2003-05-12'),
 ('deboard', 'russel', '2004-07-24'),
 ('deboard', 'russel', '2004-07-24'),
 ('lucas', 'riley', '2004-01-02'),
 ('castellanos', 'maria', '1975-12-22'),
 ('morris', 'melody', '1977-01-01'),
 ('baechle', 'ryan', '1999-12-01'),
 ('smith', 'jalen', '2004-09-17'),
 ('smith', 'jalen', '2004-09-17'),
 ('evans', 'gabrielle', '1988-01-31'),
 ('keene', 'autumn', '1992-10-28'),
 ('abath', 'euphemia', '1994-08-04'),
 ('mccullough', 'jaquan', '1993-04-21'),
 ('hillis', 'skya', '1998-04-14'),
 ('pannell', 'tracy', '1964-01-01'),
 ('martin', 'shannita', '1991-02-10'),
 ('mast', 'hadassah', '2002-10-19'),
 ('lewis', 'robert', '1994-02-08'),
 ('oppenheimer', 'amanda', '1988-05-10'),
 ('oppenheimer', 'amanda', '1988-05-10'),
 ('munley', 'richard', '1961-11-28'),
 ('johnson', 'brittany', '1995-04-06'),
 ('davis', 'micalah', '2000-09-15'),
 ('gray', 'ladale', '1990-10-28'),
 ('gray', 'ladale', '1990-10-28'),
 ('vanderpool', 'sherri', '1976-03-14'),
 ('cheng', 'hsin-i', '1988-11-14'),
 ('hastings', 'christopher', '1987-11-01'),
 ('sturgill', 'cara', '1993-11-27'),
 ('jackson jr', 'melvin', '1998-12-22'),
 ('cain', 'jada', '2004-01-01'),
 ('calloway', 'martina', '1991-12-28'),
 ('essomba', 'victor', '2001-03-18'),
 ('derra', 'nabidaouda', '2001-01-07'),
 ('mccullough', 'miracle', '2003-08-07'),
 ('blankenship', 'matthew', '2000-05-31'),
 ('trent', 'brittani', '1989-07-27'),
 ('blankenship', 'matthew', '2000-05-31'),
 ('rice', 'andre', '1976-08-22'),
 ('vanadia', 'alexandrea', '1991-10-25'),
 ('charriez alvarez', 'gilmarie', '1989-07-21'),
 ('kelley', 'john', '1993-10-31'),
 ('jones', 'charles', '1976-01-08'),
 ('wanyonyi', 'annet', '1997-04-29'),
 ('caudill', 'mary', '1981-01-06'),
 ('bracy', 'april', '1968-10-05'),
 ('mojica', 'marco', '1994-08-16'),
 ('doyle', 'gregory', '1978-07-11'),
 ('garringer', 'logan', '1999-12-17'),
 ('miller', 'andrew', '1998-05-27'),
 ('adams', 'tarian', '1996-09-24'),
 ('neely', 'patricia', '1991-09-12'),
 ('neely', 'patricia', '1991-09-12'),
 ('calhoun', 'zytaja', '2000-04-15'),
 ('andrewson', 'anastasia', '1989-09-17'),
 ('berry', 'darchelle', '1993-01-09'),
 ('schamber', 'robert', '1979-03-19'),
 ('milton', 'seaneqwa', '1990-08-06'),
 ('mcknight', 'shaunell', '1984-07-17'),
 ('edwards', 'yuvette', '1992-12-05'),
 ('carmona', 'giovanni', '2000-10-02'),
 ('berger', 'trevor', '1991-12-28'),
 ('king', 'jessica', '1987-01-01'),
 ('king', 'jessica', '1987-01-01'),
 ('daroche', 'william', '1952-08-03'),
 ('jackson', 'sky', '2000-02-03'),
 ('de jesus', 'dominic', '2001-08-22'),
 ('terrones', 'bryan', '2001-03-16'),
 ('lebrun', 'paola', '2000-01-28'),
 ('ennis', 'angel', '1996-06-30'),
 ('hernandez-flores', 'balbino', '1980-05-16'),
 ('perry', 'jordan', '2000-04-29'),
 ('jones', 'michael', '1978-03-22'),
 ('merritt', 'kayla', '1997-04-12'),
 ('owens', 'richard', '1999-07-28'),
 ('owens', 'richard', '1999-07-28'),
 ('arthurs', 'alyx-andrea', '1994-08-02'),
 ('brewer', 'breauna', '1995-08-13'),
 ('warner', 'whitney', '1994-05-11'),
 ('carter', 'selina', '1966-05-14'),
 ('holland', 'chelsea', '1995-01-28'),
 ('rodriguez', 'christopher', '1989-04-20'),
 ('tyler', 'davion', '2000-09-06'),
 ('pagan', 'maricenia', '1974-03-18'),
 ('pagan', 'maricenia', '1974-03-18'),
 ('clark', 'carolyn', '1952-08-08'),
 ('clark', 'carolyn', '1952-08-08'),
 ('hill', 'dorrance', '1963-06-25'),
 ('clark', 'carolyn', '1952-08-08'),
 ('davis', 'tony', '1989-05-27'),
 ('grogan', 'cassandra', '1987-07-12'),
 ('taylor', 'jennifer', '1966-11-06'),
 ('isu', 'adenike', '1960-04-10'),
 ('tyson', 'grinell', '1989-07-23'),
 ('hymes', 'teara', '1993-06-04'),
 ('hymes', 'teara', '1993-06-04'),
 ('hymes', 'teara', '1993-06-04'),
 ('scales', 'brian', '1993-08-16'),
 ('boggs', 'abena', '1964-07-22'),
 ('buchanan', 'keziah', '1957-11-12'),
 ('sheikh', 'juwaria', '1993-12-20'),
 ('delgrosso', 'katherine', '1987-05-31'),
 ('cramer', 'nicolis', '1989-01-02'),
 ('gibson', 'alisha', '1997-12-16'),
 ('lumpkin', 'trevon', '1997-04-21'),
 ('jackson', 'john', '1977-10-03'),
 ('luce', 'danielle', '1979-08-17'),
 ('saunders', 'christapher', '1977-09-11'),
 ('allen', 'dionna', '1991-04-26'),
 ('melendez', 'terrah', '1992-08-30'),
 ('martin', 'myron', '1963-06-15'),
 ('hilson', 'tony', '1989-01-31'),
 ('russ', 'heather', '1995-12-25'),
 ('morefield', 'marisa', '1993-10-31'),
 ('morefield', 'marisa', '1993-10-31'),
 ('bauer', 'kendra', '1987-08-09'),
 ('bauer', 'kendra', '1987-08-09'),
 ('dunseth', 'cleonna', '1995-07-03'),
 ('thomas', 'ashton', '1989-12-09'),
 ('mcclellan', 'terri', '1980-10-22'),
 ('rios', 'orlando', '1972-10-05'),
 ('rios', 'orlando', '1972-10-05'),
 ('spates', 'robert', '1956-03-20'),
 ('thomas', 'shawn', '1989-12-26'),
 ('bridges', 'cassius', '1992-06-20'),
 ('dunn', 'kayla', '1984-11-05'),
 ('patterson', 'maryum', '1970-10-04'),
 ('moore', 'tracey', '1974-04-12'),
 ('young', 'teresa', '1969-02-22'),
 ('boone', 'shatara', '1988-05-30'),
 ('boone', 'shatara', '1988-05-30'),
 ('powell', 'shantel', '1975-03-06'),
 ('sherman', 'robert', '1995-06-08'),
 ('johnson', 'marisa', '2000-05-19'),
 ('johnson', 'marisa', '2000-05-19'),
 ('owens', 'angel', '1977-10-31'),
 ('badillo', 'amberly', '1991-05-03'),
 ('miller', 'alyssa', '1993-05-28'),
 ('chandler', 'sharon', '1968-01-02'),
 ('higgins', 'michael', '1978-12-02'),
 ('higgins', 'michael', '1978-12-02'),
 ('meade', 'malik', '1999-10-28'),
 ('crowe', 'arlando', '1979-01-10'),
 ('crowe', 'arlando', '1979-01-10'),
 ('crowe', 'arlando', '1979-01-10'),
 ('crowe', 'arlando', '1979-01-10'),
 ('ellis', 'dana', '1980-07-27'),
 ('chapman', 'kimberly', '1992-02-25'),
 ('bhandari', 'devi', '1990-02-21'),
 ('bias', 'tony', '1968-08-12'),
 ('evans', 'dajuan', '2000-08-08'),
 ('marzullo', 'emily', '1998-07-13'),
 ('alston', 'mikayla', '2001-03-27'),
 ('ramzy', 'elijah', '1997-06-18'),
 ('johnson', "jack'ee", '1992-06-15'),
 ('molina', 'edwin', '1963-06-30'),
 ('molina', 'edwin', '1963-06-30'),
 ('hampton', 'terrance', '1994-04-13'),
 ('smith jr', 'derrek', '2000-08-07'),
 ('smith jr', 'derrek', '2000-08-07'),
 ('johnson', 'juwanda', '1989-08-18'),
 ('leohr', 'stephanie', '1998-11-27'),
 ('owens', 'melissa', '1992-03-26'),
 ('owens', 'melissa', '1992-03-26'),
 ('owens', 'melissa', '1992-03-26'),
 ('howard', 'devin', '1992-05-25'),
 ('howard', 'devin', '1992-05-25'),
 ('knepp', 'lauren', '1989-11-02'),
 ('knepp', 'lauren', '1989-11-02'),
 ('sledge', 'aaliyah', '1997-05-02'),
 ('lewis', 'danielle', '1991-06-24'),
 ('lewis', 'danielle', '1991-06-24'),
 ('robinson', 'chloe', '1999-03-02'),
 ('robinson', 'chloe', '1999-03-02'),
 ('hess', 'nolan', '2001-10-25'),
 ('boone', 'briana', '1998-08-03'),
 ('jackson', 'dishawn', '1979-11-22'),
 ('ryon', 'stephanie', '1991-04-12'),
 ('ross', 'gary', '1986-05-13'),
 ('lamb', 'tyler', '1994-10-17'),
 ('boatengmaah', 'amma', '1983-01-01'),
 ('harper', 'james', '1986-11-06'),
 ('alexander', 'tameka', '1979-09-02'),
 ('robinson', 'edward', '1988-05-23'),
 ('blomquist', 'grace', '1999-12-28'),
 ('mccullough', 'miracle', '2003-08-07'),
 ('grubiss', 'breanna', '1996-08-13'),
 ('shaw', 'brooke', '1989-11-04'),
 ('adzimase', 'jean', '1988-06-24'),
 ('norman', 'robert', '1976-07-30'),
 ('washington iii', 'oscar', '1983-12-01'),
 ('garcia', 'pedro', '1985-02-26'),
 ('ealy', "la'quashia", '1996-09-13'),
 ('woodgeard', 'wyatt', '2001-09-27'),
 ('woodgeard', 'wyatt', '2001-09-27'),
 ('woodgeard', 'wyatt', '2001-09-27'),
 ('woodgeard', 'wyatt', '2001-09-27'),
 ('woodgeard', 'wyatt', '2001-09-27'),
 ('woodgeard', 'wyatt', '2001-09-27'),
 ('burgan', 'mariah', '1999-03-24'),
 ('kellerman', 'rachael', '1988-11-11'),
 ('roblero', 'elizabeth', '2003-06-07'),
 ('bontrager', 'racheal', '1994-03-14'),
 ('mohamud', 'munneera', '1997-04-05'),
 ('williams', 'damian', '1978-06-18'),
 ('bush', 'laura', '1992-04-13'),
 ('carr', 'emily', '2003-12-12'),
 ('carr', 'emily', '2003-12-12'),
 ('harris', 'darayl', '2004-02-14'),
 ('ortiz', 'britney', '1993-03-21'),
 ('davenport', 'malik', '1997-03-02'),
 ('miller', 'norman', '1986-05-28'),
 ('gorby', 'andrew', '1991-10-25'),
 ('luke', 'omika', '1986-07-14'),
 ('edmonds', 'james', '1985-05-07'),
 ('edmonds', 'james', '1985-05-07'),
 ('sowell', 'david', '1990-09-23'),
 ('sowell', 'david', '1990-09-23'),
 ('buhinge', 'buzimba', '1967-02-17'),
 ('bytyci', 'julie', '1978-12-27'),
 ('jalloh', 'yusif', '1969-08-17'),
 ('ramos', 'cynthia', '1993-02-20'),
 ('sami', 'khadija', '1990-09-14'),
 ('bello', 'andre', '1997-08-21'),
 ('nyirashimirimana', 'emerian', '1996-12-07'),
 ('dickerson', 'eric', '1996-03-19'),
 ('dickerson', 'eric', '1996-03-19'),
 ('brown', 'bonnita', '1974-05-19'),
 ('bridges', 'cassius', '1992-06-20'),
 ('smith', 'sonja', '1997-02-18'),
 ('dukes', 'eugene', '1993-06-27'),
 ('hentges', 'holley', '1975-09-09'),
 ('earley-addison', 'lateara', '1989-03-19'),
 ('harbour', 'andrew', '1972-12-01'),
 ('ocasio', 'nancy', '1969-06-13'),
 ('brooks', 'aaron', '2002-09-01'),
 ('beasley', 'lerod', '1998-09-18'),
 ('brown', 'nicholas', '1986-01-06'),
 ('mccall', 'charles', '1987-09-08'),
 ('mccall', 'charles', '1987-09-08'),
 ('thompson', 'jerron', '1989-10-08'),
 ('williams', 'anthony', '1974-07-22'),
 ('vibbert', 'mary', '2004-02-05'),
 ('fay', 'donna', '1967-04-04'),
 ('cain', 'jada', '2004-01-01'),
 ('cade', 'diane', '1961-03-14'),
 ('buchholz', 'mary', '1965-06-24'),
 ('buchholz', 'mary', '1965-06-24'),
 ('buchholz', 'mary', '1965-06-24'),
 ('buchholz', 'mary', '1965-06-24'),
 ('shears', 'ricardo', '1978-01-10'),
 ('roberts', 'walter', '1983-08-25'),
 ('williams', 'bruce', '1965-06-06'),
 ('west', 'yvonne', '1972-01-11'),
 ('hanshaw', 'angellica', '1998-02-13'),
 ('biswa', 'tula', '1994-09-29'),
 ('soto', 'amber', '1990-12-27'),
 ('mitchell', 'bajia', '1996-07-26'),
 ('mendez', 'nilda', '1995-06-13'),
 ('knisley', 'emily', '1994-12-18'),
 ('monda', 'gina', '1996-10-19'),
 ('rottman', 'alliya', '1994-11-06'),
 ('delgado', 'marquita', '1988-06-20'),
 ('mendez', 'tamaras', '2002-08-15'),
 ('mendez', 'tamaras', '2002-08-15'),
 ('elliott', 'christopher', '1989-10-17'),
 ('natarajan', 'parimala', '1968-12-28'),
 ('jones', 'quentin', '2001-06-12'),
 ('brown', 'laura', '2004-03-16'),
 ('lorenz', 'samuel', '1986-02-22'),
 ('crum', 'zachary', '1996-11-27'),
 ('thomas', 'corbin', '2002-11-09'),
 ('thomas', 'corbin', '2002-11-09'),
 ('green', 'ebony', '1992-10-29'),
 ('merino-olivar', 'christopher', '2000-12-16'),
 ('sawmiller', 'ayanna', '2001-03-13'),
 ('fitzhugh', 'dominick', '1994-02-14'),
 ('campbell', 'tory', '1999-03-11'),
 ('campbell', 'tory', '1999-03-11'),
 ('gatewood', 'lakeetha', '1994-11-07'),
 ('woodward', 'paul', '1983-11-15'),
 ('sisler', 'anna', '1984-08-10'),
 ('lardie', 'brandon', '1994-03-17'),
 ('lardie', 'brandon', '1994-03-17'),
 ('lardie', 'brandon', '1994-03-17'),
 ('lardie', 'brandon', '1994-03-17'),
 ('sawmiller', 'ayanna', '2001-03-13'),
 ('williams', 'azah', '1988-09-18'),
 ('brokaw', 'carter', '2004-09-19'),
 ('centers', 'charlie', '1976-12-02'),

In [187]:
def _lev(x):
    rates = [sum([distance(n, m) for n, m in zip(x, gm)]) for gm in geds_keys]
    rate_min = min(rates)
    return rate_min, geds_keys[rates.index(rate_min)]

ds = pd.DataFrame([tuple(x) + _lev(x) for x in laces_keys], columns=['Last', 'First', 'DoB', 'Distance', 'Closest Match'])
ds

,Last,First,DoB,Distance,Closest Match
0,aaron,bertha,1956-08-03,10,"(boone, briana, 1998-08-03)"
1,aaron,teralawanda,1969-12-13,14,"(crowe, arlando, 1979-01-10)"
2,aarons,brianna,1995-07-11,9,"(hershey, brianna, 1999-03-17)"
3,aarons,jimmy,1983-12-11,10,"(parsons, megan, 1988-12-20)"
4,abbey,shanetta,1990-06-20,10,"(martin, shannita, 1991-02-10)"
...,...,...,...,...,...
13023,zorrilla,natalie,1992-01-30,11,"(portillo, bryant, 1992-01-23)"
13024,zuber,tamiko,1989-03-05,10,"(luke, omika, 1986-07-14)"
13025,zuber-jackson,stephanie,1966-12-12,14,"(ryon, stephanie, 1991-04-12)"
13026,zunic,william,1981-09-03,9,"(daroche, william, 1952-08-03)"
13027,zwolenik,raymond,1992-01-12,13,"(west, yvonne, 1972-01-11)"

In [189]:
ds.loc[ds.Distance < 5.0].sort_values('Distance')

,Last,First,DoB,Distance,Closest Match
143,alexander,tameka,1979-09-02,0,"(alexander, tameka, 1979-09-02)"
12386,wideman,maranda,1985-08-31,0,"(wideman, maranda, 1985-08-31)"
12183,webber,kyle,1996-07-08,0,"(webber, kyle, 1996-07-08)"
11765,vanadia,alexandrea,1991-10-25,0,"(vanadia, alexandrea, 1991-10-25)"
10138,sani,abdullah,1983-03-15,0,"(sani, abdullah, 1983-03-15)"
9999,russ,heather,1995-12-25,0,"(russ, heather, 1995-12-25)"
9502,rivera,erika,1988-02-23,0,"(rivera, erika, 1988-02-23)"
9419,rice,andre,1976-08-22,0,"(rice, andre, 1976-08-22)"
8469,pagan,maricenia,1974-03-18,0,"(pagan, maricenia, 1974-03-18)"
8350,ortiz,britney,1993-03-21,0,"(ortiz, britney, 1993-03-21)"
7703,mitchell,felicia,1982-08-19,0,"(mitchell, felicia, 1982-08-19)"
7695,mitchell,bajia,1996-07-26,0,"(mitchell, bajia, 1996-07-26)"
7057,martin,myron,1963-06-15,0,"(martin, myron, 1963-06-15)"
12453,williams,azah,1988-09-18,0,"(williams, azah, 1988-09-18)"
5785,johnson,marisa,2000-05-19,0,"(johnson, marisa, 2000-05-19)"
5753,johnson,jack'ee,1992-06-15,0,"(johnson, jack'ee, 1992-06-15)"
6450,lawrence,alec,2002-10-24,0,"(lawrence, alec, 2002-10-24)"
12467,williams,bruce,1965-06-06,0,"(williams, bruce, 1965-06-06)"
5494,jackson,john,1977-10-03,0,"(jackson, john, 1977-10-03)"
5431,jackson,aliyia,1971-08-20,0,"(jackson, aliyia, 1971-08-20)"
3317,evans,gabrielle,1988-01-31,0,"(evans, gabrielle, 1988-01-31)"
2825,delgado,marquita,1988-06-20,0,"(delgado, marquita, 1988-06-20)"
2739,dean,ashley,1994-05-04,0,"(dean, ashley, 1994-05-04)"
2727,dawson,yvonne,1962-12-15,0,"(dawson, yvonne, 1962-12-15)"
976,blomquist,grace,1999-12-28,0,"(blomquist, grace, 1999-12-28)"
1815,castellanos,maria,1975-12-22,0,"(castellanos, maria, 1975-12-22)"
4025,glenn,cassandra,1990-03-30,2,"(glenn, cassandra, 1990-03-06)"
472,baer,nicole,1991-06-02,3,"(baker, nicole, 1996-02-02)"
5709,johnson,brittany,1998-01-04,3,"(johnson, brittany, 1995-04-06)"
7589,miller,adam,1986-09-29,3,"(miller, adam, 1980-03-19)"
5696,johnson,amanda,1989-08-18,3,"(johnson, juwanda, 1989-08-18)"
9501,rivera,erica,1988-07-07,4,"(rivera, erika, 1988-02-23)"
2087,coleman,dionna,1991-04-26,4,"(allen, dionna, 1991-04-26)"
8847,phillips,david,1992-10-23,4,"(phillips, devin, 1998-10-28)"
1025,bones,brian,1995-08-03,4,"(boone, briana, 1998-08-03)"
10773,smith,tonya,1967-02-08,4,"(smith, sonja, 1997-02-18)"
11208,taylor,akiria,1991-02-21,4,"(taylor, kiara, 1991-02-22)"
2687,davis,ronelle,1990-04-28,4,"(davis, janelle, 1998-07-28)"
765,belle,andre,1994-08-14,4,"(bello, andre, 1997-08-21)"
12442,williams,anthony,1989-04-24,4,"(williams, anthony, 1974-07-22)"
2617,davis,brittney,1993-02-16,4,"(davis, brittney, 1998-10-18)"